In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
biomet_1 = pd.read_csv('biometric1.csv')
biomet_2 = pd.read_csv('biometric2.csv')
biomet_3 = pd.read_csv('biometric3.csv')
biomet_4 = pd.read_csv('biometric4.csv')

In [19]:
biomet_1

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815
...,...,...,...,...,...,...
499995,19-09-2025,Delhi,West Delhi,110041,102,100
499996,19-09-2025,Delhi,West Delhi,110043,8,5
499997,19-09-2025,Delhi,West Delhi,110058,7,5
499998,19-09-2025,Goa,North Goa,403102,1,0
499999,19-09-2025,Goa,North Goa,403106,1,0

In [23]:
biometric = pd.concat(
    [biomet_1, biomet_2, biomet_3, biomet_4],
    ignore_index=True
)

In [29]:
biometric.shape

(1861108, 6)

In [43]:
biometric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 85.2+ MB

In [41]:
biometric['date'] = pd.to_datetime(
    biometric['date'],
    dayfirst=True,
    errors='coerce'
)

In [45]:
biometric.isnull().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [61]:
biometric.duplicated().sum()

0

In [59]:
biometric = biometric.drop_duplicates()

In [63]:
biometric['Total biometric'] = biometric['bio_age_17_']+ biometric['bio_age_5_17']

In [69]:
biometric.sample(5)

,date,state,district,pincode,bio_age_5_17,bio_age_17_,Total biometric
431937,2025-09-16,Tamil Nadu,Erode,638460,5,0,5
294603,2025-09-10,Goa,South Goa,403707,4,3,7
369215,2025-09-13,Madhya Pradesh,Chhindwara,480224,21,38,59
1075165,2025-11-10,Tamil Nadu,Karur,639118,9,6,15
239651,2025-09-07,Punjab,Amritsar,143606,1,0,1

In [79]:
sorted(biometric['state'].unique())

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhatisgarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Pondicherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tamilnadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'Uttaranchal',
 'West Bengal']

In [75]:
def clean_state_biometric(biometric):
    biometric.loc[biometric['state'].str.contains('West', case=False, na=False), 'state'] = 'West Bengal'
    biometric.loc[biometric['state'].str.contains('Islands', case=False, na=False), 'state'] = 'Andaman & Nicobar Islands'
    biometric.loc[biometric['state'].str.contains('Dadra', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    biometric.loc[biometric['state'].str.contains('Daman', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    biometric.loc[biometric['state'].str.contains('Puducherry', case=False, na=False), 'state'] = 'Pondicherry'
    biometric.loc[biometric['state'].str.contains('ODISHA', case=False, na=False), 'state'] = 'Odisha'
    biometric.loc[biometric['state'].str.contains('Orissa', case=False, na=False), 'state'] = 'Odisha'
    biometric.loc[biometric['state'].str.contains('Jammu', case=False, na=False), 'state'] = 'Jammu & Kashmir'
    biometric.loc[biometric['state'].str.contains('andhra pradesh', case=False, na=False), 'state'] = 'Andhra Pradesh'
    biometric.loc[biometric['state'].str.contains('Chhattisghar', case=False, na=False), 'state'] = 'Chhattisgarh'

    return biometric

In [77]:
clean_state_biometric(biometric)

,date,state,district,pincode,bio_age_5_17,bio_age_17_,Total biometric
0,2025-03-01,Haryana,Mahendragarh,123029,280,577,857
1,2025-03-01,Bihar,Madhepura,852121,144,369,513
2,2025-03-01,Jammu & Kashmir,Punch,185101,643,1091,1734
3,2025-03-01,Bihar,Bhojpur,802158,256,980,1236
4,2025-03-01,Tamil Nadu,Madurai,625514,271,815,1086
...,...,...,...,...,...,...,...
1861103,2025-12-29,West Bengal,Uttar Dinajpur,733201,4,9,13
1861104,2025-12-29,West Bengal,Uttar Dinajpur,733213,0,1,1
1861105,2025-12-29,West Bengal,West Midnapore,721304,0,3,3
1861106,2025-12-29,West Bengal,West Midnapore,721451,2,0,2
1861107,2025-12-29,West Bengal,West Midnapore,721457,0,1,1

In [89]:
biometric.duplicated().sum()

0

In [87]:
biometric=biometric.drop_duplicates()