In [61]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
demo_1 = pd.read_csv('demographic1.csv')
demo_2 = pd.read_csv('demographic2.csv')
demo_3 = pd.read_csv('demographic3.csv')
demo_4 = pd.read_csv('demographic4.csv')
demo_5 = pd.read_csv('demographic5.csv')

In [64]:
demo = pd.concat([demo_1,demo_2,demo_3,demo_4,demo_5],ignore_index=True)

In [65]:
demo.shape

(2071700, 6)

In [69]:
demo.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [75]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2071700 entries, 0 to 2071699
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   date           datetime64[ns]
 1   state          object
 2   district       object
 3   pincode        int64
 4   demo_age_5_17  int64
 5   demo_age_17_   int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 94.8+ MB

In [73]:
demo['date'] = pd.to_datetime(
    demo['date'],
    dayfirst=True,
    errors='coerce'
)

In [77]:
demo.duplicated().sum()

473601

In [79]:
demo = demo.drop_duplicates()

In [81]:
demo.isnull().sum()

date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

In [85]:
demo['Total demographic'] = demo['demo_age_5_17'] + demo['demo_age_17_']

In [87]:
demo.sample(6)

,date,state,district,pincode,demo_age_5_17,demo_age_17_,Total demographic
1269046,2025-09-05,Tamil Nadu,Madurai,625002,5,7,12
1831474,2025-11-01,Maharashtra,Mumbai Suburban,400083,0,18,18
1788239,2025-10-27,Kerala,Alappuzha,689520,0,2,2
1690840,2025-09-07,Maharashtra,Sindhudurg,416601,0,1,1
1670589,2025-09-03,Tamil Nadu,Viluppuram,606213,0,7,7
972778,2025-10-19,Rajasthan,Churu,331507,2,18,20

In [95]:
sorted(demo['state'].unique())

['100000',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'BALANAGAR',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Darbhanga',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jaipur',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madanapalle',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Nagpur',
 'Odisha',
 'Pondicherry',
 'Punjab',
 'Puttenahalli',
 'Raja Annamalai Puram',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [91]:
def clean_state(demo):
    demo.loc[demo['state'].str.contains('West', case=False, na=False), 'state'] = 'West Bengal'
    demo.loc[demo['state'].str.contains('Islands', case=False, na=False), 'state'] = 'Andaman & Nicobar Islands'
    demo.loc[demo['state'].str.contains('Dadra', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    demo.loc[demo['state'].str.contains('Daman', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    demo.loc[demo['state'].str.contains('Puducherry', case=False, na=False), 'state'] = 'Pondicherry'
    demo.loc[demo['state'].str.contains('ODISHA', case=False, na=False), 'state'] = 'Odisha'
    demo.loc[demo['state'].str.contains('Orissa', case=False, na=False), 'state'] = 'Odisha'
    demo.loc[demo['state'].str.contains('Jammu', case=False, na=False), 'state'] = 'Jammu & Kashmir'
    demo.loc[demo['state'].str.contains('andhra pradesh', case=False, na=False), 'state'] = 'Andhra Pradesh'
    demo.loc[demo['state'].str.contains('Chhatisgarh', case=False, na=False), 'state'] = 'Chhattisgarh'
    demo.loc[demo['state'].str.contains('Uttaranchal', case=False, na=False), 'state'] = 'Uttarakhand'

    return demo

In [93]:
clean_state(demo)

,date,state,district,pincode,demo_age_5_17,demo_age_17_,Total demographic
0,2025-03-01,Uttar Pradesh,Gorakhpur,273213,49,529,578
1,2025-03-01,Andhra Pradesh,Chittoor,517132,22,375,397
2,2025-03-01,Gujarat,Rajkot,360006,65,765,830
3,2025-03-01,Andhra Pradesh,Srikakulam,532484,24,314,338
4,2025-03-01,Rajasthan,Udaipur,313801,45,785,830
...,...,...,...,...,...,...,...
2071695,2025-12-29,West Bengal,West Midnapore,721212,0,12,12
2071696,2025-12-29,West Bengal,West Midnapore,721420,0,1,1
2071697,2025-12-29,West Bengal,West Midnapore,721424,0,5,5
2071698,2025-12-29,West Bengal,West Midnapore,721426,0,3,3
2071699,2025-12-29,West Bengal,hooghly,712701,0,1,1

In [97]:
demo = demo[demo['state'].str.contains("100000")==False]

In [99]:
demo.duplicated().sum()

704

In [101]:
demo = demo.drop_duplicates()