In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
enroll_1 = pd.read_csv("enrollment1.csv")
enroll_2= pd.read_csv("enrollment2.csv")
enroll_3= pd.read_csv("enrollment3.csv")

In [11]:
enroll_data= pd.concat(
    [enroll_1,enroll_2,enroll_3],
    ignore_index=True
)

In [13]:
enroll_data.shape

(1006029, 7)

In [17]:
enroll_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [19]:
enroll_data['date'] = pd.to_datetime(
    enroll_data['date'],
    dayfirst=True,
    errors='coerce'
)

In [21]:
enroll_data.duplicated().sum()

22957

In [23]:
enroll_data = enroll_data.drop_duplicates()

In [25]:
enroll_data.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [29]:
enroll_data['Total enroll'] = enroll_data['age_0_5']+enroll_data['age_5_17'] +enroll_data['age_18_greater']

C:\Users\sonal\AppData\Local\Temp\ipykernel_20988\2845852763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enroll_data['Total enroll'] = enroll_data['age_0_5']+enroll_data['age_5_17'] +enroll_data['age_18_greater']

In [31]:
enroll_data.sample(5)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,Total enroll
964667,2025-12-28,Madhya Pradesh,Ujjain,456770,2,0,0,2
774369,2025-11-16,Telangana,K.v. Rangareddy,500077,2,0,0,2
243260,2025-09-18,Rajasthan,Bundi,323024,4,2,0,6
176118,2025-09-13,Jharkhand,Purbi Singhbhum,832102,1,0,0,1
780388,2025-11-16,Telangana,Warangal,506101,1,1,0,2

In [35]:
sorted(enroll_data['state'].unique())

['100000',
 'Andaman & Nicobar Islands',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra & Nagar Haveli',
 'Dadra and Nagar Haveli',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Daman & Diu',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jammu And Kashmir',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'ODISHA',
 'Odisha',
 'Orissa',
 'Pondicherry',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'The Dadra And Nagar Haveli And Daman And Diu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'WEST BENGAL',
 'WESTBENGAL',
 'West  Bengal',
 'West Bangal',
 'West Bengal',
 'West bengal',
 'Westbengal',
 'andhra pradesh']

In [37]:
def clean_state(enroll_data):
    enroll_data.loc[enroll_data['state'].str.contains('West', case=False, na=False), 'state'] = 'West Bengal'
    enroll_data.loc[enroll_data['state'].str.contains('Islands', case=False, na=False), 'state'] = 'Andaman & Nicobar Islands'
    enroll_data.loc[enroll_data['state'].str.contains('Dadra', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    enroll_data.loc[enroll_data['state'].str.contains('Daman', case=False, na=False), 'state'] = 'Dadra and Nagar Haveli and Daman and Diu'
    enroll_data.loc[enroll_data['state'].str.contains('Puducherry', case=False, na=False), 'state'] = 'Pondicherry'
    enroll_data.loc[enroll_data['state'].str.contains('ODISHA', case=False, na=False), 'state'] = 'Odisha'
    enroll_data.loc[enroll_data['state'].str.contains('Orissa', case=False, na=False), 'state'] = 'Odisha'
    enroll_data.loc[enroll_data['state'].str.contains('Jammu', case=False, na=False), 'state'] = 'Jammu & Kashmir'
    enroll_data.loc[enroll_data['state'].str.contains('andhra pradesh', case=False, na=False), 'state'] = 'Andhra Pradesh'

    return enroll_data

In [39]:
clean_state(enroll_data)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,Total enroll
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,109
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,86
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,123
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,106
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,51
...,...,...,...,...,...,...,...,...
1006024,2025-12-31,West Bengal,West Midnapore,721149,2,0,0,2
1006025,2025-12-31,West Bengal,West Midnapore,721150,2,2,0,4
1006026,2025-12-31,West Bengal,West Midnapore,721305,0,1,0,1
1006027,2025-12-31,West Bengal,West Midnapore,721504,1,0,0,1
1006028,2025-12-31,West Bengal,West Midnapore,721517,2,1,0,3

In [47]:
enroll_data = enroll_data[enroll_data['state'].str.contains("100000")==False]

In [49]:
enroll_data.duplicated().sum()

0

In [51]:
enroll_data = enroll_data.drop_duplicates()